albumentations 
beautifulsoup4==4.13.5
Flask 
gunicorn 
ipykernel 
keras==3.10.0
mlflow==3.1.1
mlflow-skinny==3.1.1
numpy==1.26.4
oauthlib==3.2.2
opencv-python==4.10.0
opencv-python-headless==4.10.0
pandas
pillow
pip-chill==1.0.3
pip-tools==7.5.0
pytest==8.4.1
requests
requests-oauthlib==2.0.0
scikit-learn 
scipy 
streamlit 
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.2
tensorflow-io-gcs-filesystem==0.37.1
typing_extensions==4.14.0
unicodedata2 
uvicorn==0.35.0

